.d-flex.align-items-center.p-3.my-3.text-white.bg-purple.rounded.shadow-sm
  .lh-2
    %h2.mb-0.text-white.lh-1 Placas
    %small Todas as Placas cadastradas
.my-3.p-3.bg-body.rounded.shadow-sm
  .pull-right
    %a.btn.btn-default-btn-xs.btn-success
      %i.glyphicon.glyphicon-plus
      Novo Registro
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %td ID
        %th Proprietário
        %th Ações
    %tbody#form-list-client-body
    - @license_plates.each do |license_plate|
      %tr{:id => "license_plate-#{license_plate.id}"}
        %td= license_plate.id
        %td= license_plate.owner
        %td
          %a= link_to 'Mais detalhes', license_plate_path(license_plate)
